<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">

<style is="custom-style" include="iron-flex iron-flex-alignment"></style>

<dom-module id="cotton-checklist">

    <template>
        <div class="layout vertical">
            <div class="layout horizontal title">
                <div><label>[[title]]</label></div>
                <div class="flex separator"></div>
            </div>
            <div style="height:100%;">
                <ul>
                    <template is="dom-repeat" items="[[list]]">
                        <li>
                            <div class="icon">&nbsp;</div>
                            <div class="value" on-tap="_notifyTap">[[item]]</div>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
    </template>

    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>
    <style>
        :host .title {
            margin-bottom: 15px;
            min-height: 15px;
        }
        :host label {
            margin-bottom: 10px;
            font-size: 11pt;
        }
        :host .separator {
            border-bottom: 1px solid #efefef;
            display: block;
            text-decoration: line-through;
            margin-left: 10px;
        }
        :host ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        :host li {
            border: 1px solid #efefef;
            margin-bottom: -1px;
            @apply(--layout-horizontal);
        }
        :host li .icon {
            background: #052BA7;
            width: 8px;
        }
        :host li .value {
            margin: 2px 7px;
            font-size: 10pt;
            padding: 3px 0;
            cursor: pointer;
        }
        :host li.checked .icon {
            background: #efefef;
        }
        :host li.checked .value {
            color: #aaa;
        }
    </style>

    <script>
        Polymer({
            is: 'cotton-checklist',

            properties: {
                title: String,
                list: { type: Array },
                checkedList: { type: Array, observer: '_refreshChecked' }
            },

            _refreshChecked : function() {
                var widget = this;
                window.setTimeout(function() {
                    var list = widget.querySelectorAll("ul li");
                    for (var i=0; i<list.length; i++)
                        list[i].className = widget.checkedList[i] ? "cotton-checklist checked" : "cotton-checklist";
                }, 100);
            },

            _notifyTap : function() {
                this.fire('tap');
            }
        });
    </script>
</dom-module>
